sudo: required
services:
  - docker
before_install:
  - docker-compose up --no-start
  - docker-compose start
script:
  - docker ps | grep bangumi-visualizer | grep Up && curl http://127.0.0.1:1801/bangumi/anime/season_id/21421
deploy:
  provider: script
  script: bash deploy.sh
  on:
    branch: master
    tags: true
