<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#448aff" />
        <title>Bangumi</title>
        <link href="https://cdn.bootcss.com/vue-material/1.0.0-beta-8/vue-material.min.css" rel="stylesheet" />
        <link href="https://cdn.bootcss.com/vue-material/1.0.0-beta-8/theme/default.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons" />
        <link rel='stylesheet' href='/stylesheets/bangumi.css' />
    </head>
    <body>
    <div id="app" style="visibility: hidden">
        <div class="page-container">
            <md-app md-mode="reveal" style="min-height: 100vh;">
                <md-app-toolbar class="md-primary">
                    <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
                        <md-icon>menu</md-icon>
                    </md-button>
                    <span class="md-title">Bangumi</span>
                </md-app-toolbar>
                <md-app-drawer :md-active.sync="menuVisible" class="md-scrollbar">
                    <md-toolbar class="bangumi-sidebar-header md-transparent" md-elevation="0">
                        <div class="bangumi-content">
                            <md-avatar class="md-large">
                                <img src="https://avatars2.githubusercontent.com/u/16668566?s=460&v=4" alt="AngelMsger">
                            </md-avatar>
                        </div>
                        <div class="bangumi-content">
                            <span class="md-subheading"><a href="https://angelmsger.com" style="text-decoration: none;color: #666666">i@AngelMsger.Com</a></span>
                        </div>
                    </md-toolbar>
                    <md-list>
                        <md-list-item @click="switchPage(0)">
                            <md-icon>play_circle_filled</md-icon>
                            <span class="md-list-item-text">番剧</span>
                        </md-list-item>
                        <md-list-item @click="switchPage(1)">
                            <md-icon>account_circle</md-icon>
                            <span class="md-list-item-text">用户</span>
                        </md-list-item>
                        <md-list-item @click="switchPage(2)">
                            <md-icon>pets</md-icon>
                            <span class="md-list-item-text">作者</span>
                        </md-list-item>
                    </md-list>
                </md-app-drawer>
                <md-app-content class="md-scrollbar">
                    <div v-if="page === 0">
                        <md-field>
                            <label>Season ID</label>
                            <md-input v-model="season_id"></md-input>
                            <span class="md-helper-text">番剧编号</span>
                        </md-field>
                        <div v-if="anime.success">
                            <div class="bangumi-content md-layout md-gutter md-alignment-center-space-between">
                                <div class="bangumi-content">
                                    <span class="md-display-2">{{ anime.title }}</span>
                                    <div>
                                        <span class="md-caption">{{ anime.alias }}</span>
                                    </div>
                                    <div>
                                        <md-chip v-for="area in anime.area" :key="area" class="md-accent">{{ area }}</md-chip>
                                        <md-chip v-for="tag in anime.tags" :key="tag" class="md-primary">{{ tag }}</md-chip>
                                    </div>
                                </div>
                                <div class="bangumi-content">
                                    <div v-if="anime.rating">
                                        <span class="md-display-2">{{ anime.rating.score }}</span>
                                        <span >来自 {{ anime.rating.count }} 位用户</span>
                                    </div>
                                    <span>共 {{ anime.episodes }} 集</span>
                                    <span v-if="anime.is_finish">已完结</span>
                                    <span v-else>连载中</span>
                                    <span>弹幕数量：{{ anime.danmaku_count }}</span>
                                    <span>{{ anime.favorites }} 人追番</span>
                                    <span>发布时间：{{ anime.pub_time }}</span>
                                </div>
                            </div>
                            <div class="bangumi-content md-layout md-gutter">
                                <span class="md-title">简介</span>
                                <p>{{ anime.evaluate }}</p>
                            </div>
                            <div v-if="anime.top_matches" class="bangumi-content">
                                <span class="md-title">相似作品</span>
                                <div class="bangumi-content md-layout md-gutter md-alignment-top-center">
                                    <md-card md-with-hover v-for="other in anime.top_matches" class="md-layout-item md-medium-size-96 md-large-size-24">
                                        <md-ripple>
                                            <md-card-header>
                                                <div class="md-title">{{ other.title }}</div>
                                                <div v-if="other.rating" class="md-subhead">{{ other.rating.score }}</div>
                                            </md-card-header>

                                            <md-card-content>{{ other.evaluate | filter_slice }}</md-card-content>

                                            <md-card-actions>
                                                <md-button @click="applyAnime(other.season_id)">查看番剧</md-button>
                                            </md-card-actions>
                                        </md-ripple>
                                    </md-card>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div v-if="page === 1">
                        <md-field>
                            <label>MID</label>
                            <md-input v-model="mid"></md-input>
                            <span class="md-helper-text">用户编号</span>
                        </md-field>
                        <div v-if="author.success">
                            <div class="bangumi-content md-layout md-gutter md-alignment-center-space-between">
                                <div class="bangumi-content">
                                    <span class="md-display-2">{{ author.uname }}</span>
                                </div>
                                <div class="bangumi-content">
                                    <span>最后爬取时间：{{ author.last_crawl }}</span>
                                    <span>最后计算时间：{{ author.last_analyze }}</span>
                                </div>
                            </div>
                            <div class="bangumi-content">
                                <span class="md-title">用户评论</span>
                                <div class="bangumi-content md-layout md-gutter md-alignment-top-center">
                                    <md-card v-for="review in author.reviews">
                                        <md-ripple>
                                            <md-card-header>
                                                <div class="md-title">{{ review.anime_title }}</div>
                                                <div class="md-subhead">于{{ review.mtime }}发布</div>
                                            </md-card-header>

                                            <md-card-content>
                                                <div v-if="review.is_long">{{ review.title }}</div>
                                                <div v-else>{{ review.content }}</div>
                                                <div class="md-layout md-gutter md-alignment-center-space-between">
                                                    <div>
                                                        <md-icon>favorite</md-icon> {{ review.likes }}
                                                    </div>
                                                    <div>
                                                        <span class="md-display-1">{{ review.score }}</span>
                                                    </div>
                                                </div>
                                            </md-card-content>

                                            <md-card-expand v-if="review.is_long">
                                                <md-card-actions md-alignment="space-between">
                                                    <div>
                                                        <md-button v-if="review.is_origin">原创内容</md-button>
                                                        <md-button v-if="review.is_spoiler">包含剧透</md-button>
                                                    </div>

                                                    <md-card-expand-trigger>
                                                        <md-button class="md-icon-button">
                                                            <md-icon>keyboard_arrow_down</md-icon>
                                                        </md-button>
                                                    </md-card-expand-trigger>
                                                </md-card-actions>

                                                <md-card-expand-content>
                                                    <md-card-content>{{ review.content }}</md-card-content>
                                                </md-card-expand-content>
                                            </md-card-expand>
                                        </md-ripple>
                                    </md-card>
                                </div>
                            </div>
                            <div v-if="author.top_matches" class="bangumi-content">
                                <span class="md-title">相似用户</span>
                                <div class="bangumi-content md-layout md-gutter md-alignment-top-center">
                                    <md-card md-with-hover v-for="other in author.top_matches" class="md-layout-item md-medium-size-96 md-large-size-24">
                                        <md-ripple>
                                            <md-card-header>
                                                <div class="md-title">{{ other.uname }}</div>
                                            </md-card-header>
                                            <md-card-actions>
                                                <md-button @click="applyAuthor(other.mid)">查看用户</md-button>
                                            </md-card-actions>
                                        </md-ripple>
                                    </md-card>
                                </div>
                            </div>
                            <div class="bangumi-content">
                                <span class="md-title">推荐番剧</span>
                                <div class="bangumi-content md-layout md-gutter md-alignment-top-center">
                                    <md-card md-with-hover v-for="anime in author.recommendation" class="md-layout-item md-medium-size-96 md-large-size-24">
                                        <md-ripple>
                                            <md-card-header>
                                                <div class="md-title">{{ anime.title }}</div>
                                                <div v-if="anime.rating" class="md-subhead">{{ anime.rating.score }}</div>
                                            </md-card-header>

                                            <md-card-content>{{ anime.evaluate | filter_slice }}</md-card-content>

                                            <md-card-actions>
                                                <md-button @click="applyAnime(anime.season_id)">查看番剧</md-button>
                                            </md-card-actions>
                                        </md-ripple>
                                    </md-card>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="page === 2">
                        <div class="bangumi-content md-layout md-gutter md-alignment-top-space-between">
                            <div class="bangumi-content">
                                <div class="bangumi-content">
                                    <span class="md-display-2">AngelMsger</span>
                                </div>
                                <div class="bangumi-content">
                                    <md-icon>code</md-icon>
                                    欢迎访问我的<span><a href="https://angelmsger.com" style="text-decoration: none; color: #666666">主页</a></span>与<span><a href="https://github.com/AngelMsger" style="text-decoration: none; color: #666666">GitHub页面</a></span>。
                                </div>
                                <div class="bangumi-content">
                                    <md-icon>bug_report</md-icon>
                                    <span><a href="https://github.com/AngelMsger/Bangumi-Visualizer" style="text-decoration: none; color: #666666">AngelMsger/Bangumi-Visualizer</a></span>同样在GitHub上托管，请以提交Issue的方式反馈Bug。
                                </div>
                                <div class="bangumi-content">
                                    <md-icon>email</md-icon>
                                    本人即将毕业，正在寻求一份工作，如果您有建议，请通过<span><a href="mailto:i@angelmsger.com" style="text-decoration: none; color: #666666">i@AngelMsger.Com</a></span>与我联系。
                                </div>
                                <div class="bangumi-content">
                                    <md-icon>all_inclusive</md-icon>
                                    本项目依赖<span><a href="https://github.com/AngelMsger/Bangumi-Provider" style="text-decoration: none; color: #666666">AngelMsger/Bangumi-Provider</a></span>提供的数据。
                                </div>
                            </div>
                            <div class="bangumi-content">
                                <img src="https://avatars2.githubusercontent.com/u/16668566?s=460&v=4" alt="AngelMsger" class="bangumi-avatar">
                                <div>
                                    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=28891492&auto=1&height=66"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-app-content>
            </md-app>
        </div>
    </div>
        <script src="https://cdn.bootcss.com/vue/2.5.15/vue.min.js"></script>
        <script src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.min.js"></script>
        <script src="https://cdn.bootcss.com/vue-material/1.0.0-beta-8/vue-material.min.js"></script>
        <script src="/javascripts/bangumi.js"></script>
    </body>
</html>
