.md-app {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
}

.md-layout.md-gutter>.md-layout-item {
    padding: 0;
}

.md-app-content .md-card {
    margin: 4px;
    display: inline-block;
    vertical-align: top;
}

.md-layout.md-gutter {
    margin: 0;
}

.bangumi-sidebar-header {
    background: url('https://blog.angelmsger.com/img/sidebar_header.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
}

.bangumi-content {
    margin: 8px 0;
    padding: 8px;
}

.bangumi-placeholder {
    height: 512px;
}

.bangumi-avatar {
    margin: 16px;
    max-width: 256px;
    max-height: 256px;
    border-radius:25px;
    -moz-border-radius:25px;
}